@page "/user/viewuser/{id}"
@using MindKey.Client.Services
@using MindKey.Client.Shared
@inject IUserService UserService
@inject NavigationManager navManager
@inject PageHistoryState PageHistoryState
<div class="pagetitle">
    <h1>Users</h1>
</div>


<div class="card info-card">
    <div class="card-body">
        <h5 class="card-title">Users <span>| View</span></h5>
        <table class="table col-md-6">
            <tbody>
                <tr>
                    <th scope="row">Id</th>
                    <td>@user.Id</td>
                </tr>
                <tr>
                    <th scope="row">First Name</th>
                    <td>@user.FirstName</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>@user.LastName</td>
                </tr>
                <tr>
                    <th scope="row">User Name</th>
                    <td>@user.Username</td>
                </tr>
            </tbody>
        </table>

        <div class="form-group">
            @if (PageHistoryState.CanGoBack())
            {
                <NavLink href="@PageHistoryState.GetGoBackPage()" class="btn btn-link">Back</NavLink>
            }
            else
            {
                <NavLink href="/user/1" class="btn btn-link">Back</NavLink>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    User user = new User();

    protected async override Task OnParametersSetAsync()
    {
        user = await UserService.GetUser(long.Parse(Id));
    }
}