@using MindKey.Shared.Models.MindKey

@inject NavigationManager navManager
@inject EventService EventService
@inject IIdeaService IdeaService
@inject IJSRuntime JSRuntime
@if (Idea == null || Idea.Id == 0)
{
    <div class="card info-card">
        <div class="card-body">
            <h5 class="card-title">Loading...</h5>
            <div id="toolbar" style="visibility:collapse"> </div>
            <QuillComponent @ref="Quill" Disable="true" HideToolBar="true" DefaultText="Loading..." />
            <span class="badge border-secondary border-1 text-primary" style="cursor:pointer" @onclick="()=>OpenCardDetails()">@ShowMoreText</span>
            <br />
            <IdeaUserPanelComponent Idea="@null" />
            <AgreeDisagreeComponent Idea="@null" />
            <CommentComponent Idea="@null" />
        </div>
    </div>
}
else
{
    <div class="card info-card">
        <div class="card-body">
            @if (!FullMode)
            {
                <h5 class="card-title" @onclick="()=>OpenCard()" style="Cursor:pointer"><a>@Idea.Title</a></h5>
            }
            else
            {
                <h5 class="card-title" style="Cursor:default">@Idea.Title</h5>
            }
            <div id="toolbar" style="visibility:collapse"> </div>
            <QuillComponent @ref="Quill" Disable="true" HideToolBar="true" DefaultText="@Description" />
            <span class="badge border-secondary border-1 text-primary" style="cursor:pointer" @onclick="()=>OpenCardDetails()">@ShowMoreText</span>
            <br />
            <IdeaUserPanelComponent Idea="@Idea" />
            <AgreeDisagreeComponent Idea="@Idea" />
            <CommentComponent Idea="@Idea" FullMode="@FullMode" />
        </div>
    </div>

}

@code {
    [Parameter]
    public Idea Idea { get; set; } = null;
    [Parameter]
    public bool FullMode { get; set; } = false;
    public bool IsShowAll { get; set; } = false;
    public string Description { get; set; }
    private ElementReference divEditorElement;
    public QuillComponent Quill { get; set; }
    public string ShowMoreText { get; set; } = "Show More...";
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            IsShowAll = true;
        }

        base.OnAfterRender(firstRender);
    }

    protected override void OnInitialized()
    {

        EventService.EditIdeaEvent += EditIdea;
        EventService.DeleteIdeaEvent += DeleteIdea;
        EventService.HideAllStoriesEvent += HideAllStories;
        base.OnInitialized();
    }
    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (FullMode && Idea != null)
        {
            Description = Idea.Description;
            ShowMoreText = "";
        }
        else if(Idea !=null)
        {
            Description = Idea.DescriptionShort;
        }
    }

    public void EditIdea(Idea idea)
    {
        navManager.NavigateTo($"/makepost/{idea.Id}");
    }
    public void DeleteIdea(Idea idea)
    {

    }
    public void HideAllStories(Idea idea)
    {
        if (idea.Id != Idea.Id)
        {
            IsShowAll = false;
            OpenCardDetails();
        }
    }
    public async void OpenCardDetails(bool render = true)
    {
        if (IsShowAll || FullMode)
        {
            ShowMoreText = "Hide...";
            if (!FullMode) EventService.HideAllStories(Idea);
            await Quill.SetContent(Idea.Description);
        }
        else
        {
            ShowMoreText = "Show More...";
            await Quill.SetContent(Idea.DescriptionShort);
        }
        IsShowAll = !IsShowAll;
        if (render)
            StateHasChanged();
    }
    public void OpenCard()
    {
        navManager.NavigateTo($"/idea/{Idea.Id}");
    }

}
